.PatternView {
  grid-area: pv;
  border-left: 2px solid lightgray;
  padding-left: 10px;
}

.patientDropdown {
  height: 60px;
}

.plot {
  height: 150px;
  border: 1px solid lightgray;
}

.patterns {
}

.submitButton {
  background: #7d4cdb;
  border: none;
  padding: 1px 5px;
  font-size: 0.8rem;
  height: 30px;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 5px;
}