.MotifView {
  grid-area: i;
  border: 0.5px solid #5a5959;
  padding-top: 0px;
}

.sourceLabel {
  font-size: 0.6rem;
  margin-bottom: 5px;
  background-color: #7d4cdb;
  color: white;
  text-align: center;
  border-right: 0.5px solid #5a5959;
  border-bottom: 0.5px solid #5a5959;
}
