.App {
  width: 80%;
  margin: 0 auto;
  margin-top: 15px;

  display: grid;
  grid-template-rows: 50px 900px;
  grid-template-columns: 20% 80%;
  grid-template-areas: 
    't t'
    'c m';

  color: #292929;
}

.title {
  grid-area: t;
  font-weight: 900;
  font-size: 1.7rem;
}