// example --- $system-color: #003569;

$group-area-color: whitesmoke;
$group-color: green;
$group-color-1: #ff000080;
$group-color-2: #f97b7b85;
$group-color-3: lightgray;
$group-color-4: #7979f96e;
$group-color-5: #0000ff85;
$group-color-6: rgba(153, 61, 0, 0.5);
$group-color-7: rgba(120, 122, 1, 0.5);

