@import "./_colors.scss";
@import "./_sizes.scss";


:export {
    groupAreaColor: $group-area-color;
    groupColor: $group-color;
    groupColor1: $group-color-1;
    groupColor2: $group-color-2;
    groupColor3: $group-color-3;
    groupColor4: $group-color-4;
    groupColor5: $group-color-5;
    groupColor6: $group-color-6;
    groupColor7: $group-color-7;
}