.g_group_axis line { stroke: gray; stroke-width: 1px; }
.g_group_axis path { stroke: gray; stroke-width: 2px; }

.g_user_axis line { stroke: gray; stroke-width: 1px; }
.g_user_axis path { stroke: gray; stroke-width: 2px; }